.box {
  max-width: 900px;
  height: 100vh;
  justify-content: space-evenly;
  text-align: center;
  background-color: rgb(179, 204, 212);
}

.loginBox,
.homeBox {
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.personnelBox {
  height: 55vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20vh;
}
