@import "./AppGlobal.scss";

.containedButtonDeepBlue {
  background-color: $colour-deepBlue !important;
}
.containedButtonLightBlue {
  background-color: $colour-greyPurple !important;
}

.hidden {
  display: none !important;
}

.containedButtonDay {
  background-color: $colour-deepBlue !important;
}

.containedButtonNight,
.containedButtonLabelNight {
  background-color: #38416f !important;
  color: rgb(165, 172, 236);
}

.nightOverlay {
  // background-color: black !important;
  // background: rgb(17, 19, 34) !important;
  background: linear-gradient(
    180deg,
    rgba(17, 19, 34, 1) 0%,
    rgba(39, 44, 75, 1) 76%,
    rgba(56, 65, 111, 1) 100%
  ) !important;
  height: 100% !important;
}

.textFieldNight {
  color: rgb(165, 172, 236) !important;
  background-color: blanchedalmond !important;
}

.input {
  color: rgb(165, 172, 236);
}
