@mixin scrollbars($style, $width, $display) {
  &::-webkit-scrollbar {
    -ms-overflow-style: $style;
    scrollbar-width: $width;
    display: $display;
  }
}

.loginBox,
.homeBox,
.settingsBox {
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.personalBox {
  @include scrollbars(none, none, none);
  height: 40vh;
  width: 100%;
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

// summaryBox working as advertised.
// settingsBox still needs some work. It's a bit messy but technically "works"

.summaryBox {
  @include scrollbars(none, none, none);
  height: 50vh;
  width: 100%;
  margin-top: 20vh;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

.usersBox {
  @include scrollbars(none, none, none);
  height: 30vh;
  width: 100%;
  margin-top: 48vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.selectBox {
  position: fixed;
  top: 5vh;
  height: 15vh;
  width: 100%;
  max-width: 900px;
}

.fabBox {
  position: fixed;
  bottom: 17vh;
  height: 15vh;
  width: 100%;
}

.settingsBox {
  @include scrollbars(none, none, none);
  height: 80vh;
  width: 100%;
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

.manageDetTop {
  position: fixed;
  top: 5vh;
  height: 15vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.manageDetMiddle {
  @include scrollbars(none, none, none);
  height: 30vh;
  width: 100%;
  margin-top: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

.manageDetBottom {
  position: fixed;
  bottom: 10vh;
  height: 10vh;
  width: 100%;
}
