@import "./AppGlobal.scss";

.containedButtonDeepBlue {
  background-color: $colour-deepBlue !important;
}
.containedButtonLightBlue {
  background-color: $colour-greyPurple !important;
}

.hidden {
  display: none !important;
}

.containedButtonDay {
  background-color: $colour-deepBlue !important;
}

.containedButtonNight,
.containedButtonLabelNight {
  background-color: $colour-greyPurple !important;
  color: rgb(33, 29, 41);
}

.nightOverlay {
  background-color: black !important;
  height: 100% !important;
}
