@import "./AppGlobal.scss";

.containedButtonDay {
  background-color: $colour-deepBlue !important;
}
.containedButtonNight {
  background-color: rgb(123, 108, 138) !important;
}

.containedButtonNightHidden {
  background-color: rgb(123, 108, 138) !important;
}

.hidden {
  display: none !important;
}
