@import "./AppGlobal.scss";

.containedButtonDeepBlue {
  background-color: $colour-deepBlue !important;
}

.containedButtonLightBlue {
  background-color: rgb(123, 108, 138) !important;
}

.fabButtonDeepBlue {
  background-color: $colour-deepBlue !important;
  color: $colour-lightBlue !important;
}

.hidden {
  display: none !important;
}
