@import "../../pages/AppGlobal.scss";

.headlineBox {
  position: fixed;
  background-color: $colour-deepBlue;
  top: 0;
  left: 0;
  padding-left: 15px;
  color: $colour-lightBlue;
  height: 10vh;
  width: 100%;
  z-index: 1;
}
