@import "./pages/AppGlobal.scss";

.routerBox,
.Router {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  overflow: hidden;
  position: fixed;
  background-color: $colour-lightBlue;
  z-index: 0;
}
